@import "../../styles.scss";

button {
  all: unset;
  cursor: pointer;
  background-color: $azul_roxo;
  border-radius: 8px;
  color: #ffff;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $azul_escuro;
    opacity: 0.8;
  }

  &:active {
    background-color: $azul_escuro;
  }
}
