@import "../../styles.scss";

.container-resumo {
  @include display_flex(column, center, center);
  .resumo {
    background-color: #fafafa;
    box-shadow: 3px 3px 10px #0000006d;
    height: 300px;
    width: 350px;
    border-radius: 10px;
    padding: 26px 33px 31px 33px;
    margin-bottom: 16px;
    font-size: 1.5em;
    font-weight: 700;
    color: #2f2f2f;
    @include display_flex(column, space-between, flex-start);
    .resumo-linha {
      @include display_flex(row, space-between, center);
      width: 100%;
      font-weight: 500;
      line-height: 15px;
      .saldo-positivo {
        color: $azul_claro;
      }
      &:last-child {
        font-weight: 700;
        line-height: 17px;
      }
    }
    .divisor {
      width: 189px;
      border: 1px solid #eaeaea;
    }
  }
  button {
    font-family: $font_rubik;
    font-weight: 700;
    height: 50px;
    width: 280px;
    border-radius: 5px;
  }
}
